<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>USER</h1>
    <center>
    <table>
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Action</th>
            
        </tr>
        <% for(var i=0; i<users.length; i++) { %>
        <tr>
            <td><%= users[i].user_id %></td>
            <td><%= users[i].username %></td>
            <td><%= users[i].email %></td>
            <td>
                <a href="/usersontasks/<%= users[i].user_id %>">UserTask</a>
                <a href="/updateUser/<%= users[i].user_id %>">Edit</a>
                <a href="/deleteUser/<%= users[i].user_id %>">Delete</a>
            </td>
        </tr>    
        <%} %>
    </table></center>
    <br><br>
    <a href="/createUser">create User</a>
    <a href="/">Go to Task</a>
    <a href=""></a>
</body>
</html>